#pwstrength {
    font-size: .85rem;
    margin-bottom: 12px;
    p {
        max-width: 420px;
    }
}

#pwstrength p:first-of-type {
    margin: 30px 0 12px 0;
}

.updateProfile #pwstrength p:first-of-type {
    margin-top: 0;
}

.updateProfile #UpdateRowNewPassword td {
    display: block;
    vertical-align: top;
}

#pwstrength p:last-of-type {
    float: left;
    margin-right: 12px;
}

#pwstrength #meter {
    display: inline-block;
}

#pwstrength #meter span {
    display: inline-block;
    border: 1px solid #cbcbcb;
    height: 15px;
    width: 50px;
}

#pwstrength .Weak span:nth-of-type(1) {
    background: #E44525;
}

#pwstrength .Medium span:nth-of-type(1) {
    background: #F6E33A;
}

#pwstrength .Medium span:nth-of-type(2) {
    background: #F6E33A;
}

#pwstrength .Strong span:nth-of-type(1) {
    background: #3AC68B;
}

#pwstrength .Strong span:nth-of-type(2) {
    background: #3AC68B;
}

#pwstrength .Strong span:nth-of-type(3) {
    background: #3AC68B;
}

#pwstrength #meter em {
    display: block;
    min-height: 20px;
    text-align: center;    
}

#pwstrength #meter #metertext {
    color: #E44525;
}

#pwstrength #meter.Weak #metertext,
#pwstrength #meter.Medium #metertext,
#pwstrength #meter.Strong #metertext {
    color: #666666;
}

#Password.error {
    border-color: #E44525;
    border-width: 2px;
}

@media all and (min-width: 750px) {

    .registerrows td {
        width: 50%;
    }

    .updateProfile #UpdateRowNewPassword td {
        display: table-cell;
    }

}
